/* line 3, ../sass/print.sass */
header {
  background: #0d0d0d;
  color: #f2f2f2;
}
/* line 6, ../sass/print.sass */
header h1 {
  float: left;
}
/* line 8, ../sass/print.sass */
header nav {
  float: right;
}
