/* line 6, ../sass/screen.sass */
body {
  margin: 0;
  font-family: Arial;
}

/* line 10, ../sass/screen.sass */
.top_header {
  background-color: #0d0d0d;
  color: #f2f2f2;
  height: 4em;
}
@media screen and (max-width: 500px) {
  /* line 10, ../sass/screen.sass */
  .top_header {
    height: 10em;
  }
}
/* line 18, ../sass/screen.sass */
.top_header nav {
  float: right;
}
@media screen and (max-width: 480px) {
  /* line 18, ../sass/screen.sass */
  .top_header nav {
    float: none;
    position: relative;
    left: 4em;
  }
}
/* line 24, ../sass/screen.sass */
.top_header nav a {
  color: #f2f2f2;
}
/* line 26, ../sass/screen.sass */
.top_header ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  top: 2em;
  right: 2em;
}
/* line 31, ../sass/screen.sass */
.top_header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
  width: 5em;
  height: 5em;
}

/* line 35, ../sass/screen.sass */
main {
  font-size: 1.5em;
  text-align: center;
}

/* line 38, ../sass/screen.sass */
.boxes {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (max-width: 540px) {
  /* line 38, ../sass/screen.sass */
  .boxes {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
}

/* line 47, ../sass/screen.sass */
.box {
  color: #0d0d0d;
  width: 10em;
  margin: 1.25%;
  min-height: 10em;
  background-color: #0d0d0d;
  float: left;
}

/* line 54, ../sass/screen.sass */
footer {
  width: 100%;
  background-color: #0d0d0d;
  color: #f2f2f2;
  height: 4em;
}
