/* line 3, ../sass/screen.sass */
body {
  margin: 0;
}

/* line 6, ../sass/screen.sass */
header {
  background-color: #0d0d0d;
  color: #f2f2f2;
  height: 4em;
  width: 100%;
}
/* line 11, ../sass/screen.sass */
header h1 {
  float: left;
  position: relative;
  left: 2em;
}
/* line 15, ../sass/screen.sass */
header nav {
  float: right;
}
/* line 17, ../sass/screen.sass */
header ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  top: 2em;
  right: 2em;
}
/* line 22, ../sass/screen.sass */
header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}
